/**
 *  Code Editor
**/
#code {
	background: 0% 0%/auto repeat #abb8c3;
	max-width: 100%;
	white-space: pre-wrap;
    padding: 30px;
}

.codeblock {
	background: 0% 0%/auto repeat hsl(207, 17%, 72%);
	max-width: 100%;
	white-space: nowrap;
	padding: 30px;
	margin: 20px 0;
}

.codeDiv {
	box-shadow: rgb(0 0 0 / 55%) 0px 20px 68px;
	padding: 20px 30px;
    height: 100%;
	background-color: #151718;
	color: #fff;
	border-radius: 5px;
	font-size: 12px;
	cursor: pointer;
}

.codeDiv p {
    overflow-x: auto;
}
.codeDiv pre {
	display: block;
	overflow-x: auto;
	padding: 0px;
	background: transparent none repeat scroll 0% 0%;
	color: #d6deeb;
	white-space: nowrap;
}
.codeDiv pre code {
	white-space: pre-wrap;
}

pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 0;
	background: transparent;
}